In [24]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df = pd.read_csv('AAP_data.csv')

df

            date    open      high       low   close   volume Name
0     2013-02-08   78.34   79.7200   78.0100   78.90  1298137  AAP
1     2013-02-11   78.65   78.9100   77.2300   78.39   758016  AAP
2     2013-02-12   78.39   78.6300   77.5132   78.60   876859  AAP
3     2013-02-13   78.90   79.1300   77.8500   78.97  1038574  AAP
4     2013-02-14   78.66   79.7200   78.5850   78.84  1005376  AAP
...          ...     ...       ...       ...     ...      ...  ...
1254  2018-02-01  116.24  118.8300  115.8300  117.29   760629  AAP
1255  2018-02-02  115.92  117.1800  113.1250  113.93  1092333  AAP
1256  2018-02-05  113.05  114.9700  109.8100  109.86  1281592  AAP
1257  2018-02-06  108.28  113.1100  106.7450  112.20  1240784  AAP
1258  2018-02-07  112.09  114.5799  109.9000  109.93  2163545  AAP

[1259 rows x 7 columns]

In [18]:
df.describe ()

              open         high          low        close        volume
count  1259.000000  1259.000000  1259.000000  1259.000000  1.259000e+03
mean    132.439631   133.818297   131.036025   132.433463  1.078043e+06
std      31.269628    31.545809    30.968405    31.274463  1.019365e+06
min      76.040000    76.660000    75.623000    76.180000  1.307120e+05
25%     104.070000   105.724950   102.260000   104.440000  6.182010e+05
50%     141.150000   143.000000   139.405000   141.300000  8.491350e+05
75%     156.980000   158.270000   155.320000   156.730000  1.219762e+06
max     201.240000   201.240000   198.160000   200.380000  1.974952e+07

In [32]:
X = list(df.iloc, [0]) 
Y = list(df.iloc, [1]) 
  
plt.bar(X, Y, color='g') 
plt.title("Students over 11 Years") 
plt.xlabel("Years") 
plt.ylabel("Number of Students") 
  
# Show the plot 
plt.show()

<class 'TypeError'>: list expected at most 1 argument, got 2